body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana;}
.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
}
/* Sets the given CSS property on elements containing class='maindiv' */
.h{
    display:inline;
    background-color: yellow;

}
/* Sets the background color of the element with class='h' as yellow */


